# CSS & SASS files
**/*.css
**/*.scss

# Images
**/*.png
**/*.gif
**/*.svg

# Fonts
**/*.woff
**/*.woff2

# Webpack
**/*Webpack.*

# Static html
**/*.html

# Adobe
**/*adobe.js

# Other
reports/
dist/
node_modules/
package-lock.json
